[submodule "Travelling Agent for plan your tour"]
	path = Travelling Agent for plan your tour
	url = https://github.com/samirunuwanaka/CAME_Projects.git
[submodule "FairFace Detector"]
	path = FairFace Detector
	url = https://github.com/samirunuwanaka/CAME_Projects.git
